body{background-color:#eee;margin:20px 100px 0px 150px;background-image: url(kh.png);background-position:top;}
 h1{text-align: center; font-size: 300%;margin:0px 80px;color: red}
.div1 {margin:0px 88px;color: #00FF7F ;size: 60px;}
.div2 {margin: 30px;text-indent: 2em;line-height: 1.5;text-align: right}
.y{text-align: right;}
















<img src="bj1.jpg" width="1100" height="500">