	h1{font-family: 仿宋；font-size: 20px;text-align: center;}
		h2{float: right;font-size: 15px;font-family: 楷体 }
		a{ text-decoration:none;color:#0000FF;}
		pre{color:blue;font-size:30px;font-family: 隶书;text-align: 	center}
        body{text-align: left;background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1508256572&di=b0faa9dd1e3c12614619114511640580&src=http://thumb.kting.cn/t1/998/299/data/site_elite/info/1376536294.jpg)}


