body
 {background-color:#FAEBD7;
 }
 .pear{font-weight:bold;
        font-size:15px;
		color:#2F4F4F;}
 .abc{font-size:25px;
      font-weight:bold;
	  color:#DC143C;
	 }
 .ha{font-size:15px;
     font-weight:bold;
	}	  
	